@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=PT+Sans:wght@700&display=swap');
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.child-container > h1 {
  font-family: 'PT Sans', sans-serif;
}
